<table border="1">
  <tr>
    <th>SPEL</th>
    <th>SPELERS</th>
    <th colspan="2">{{get @players 0}}</th>
    <th colspan="2">{{get @players 1}}</th>
    <th colspan="2">{{get @players 2}}</th>
    <th colspan="2">{{get @players 3}}</th>
  </tr>
  {{#each this.games as |game|}}
    <TableRow
      @gameType={{game.gameType}}
      @gamePlayers={{game.gamePlayers}}
      @pointsEarned={{game.pointsEarned}}
      @pointsTotal={{game.pointsTotal}}
    />
  {{/each}}
  <NewRow @onCreate={{this.addNewRow}} />
</table>
<style>
    td{
      min-width: 5vw;
    }
    input{
      max-width: 10vw;
    }
    .invalid{
      border-color: red;
      border-width: 5px;
    }
</style>