<table border="1">
    {{#if this.submittedPlayers}}
    
      <tr>
        <th>SPEL</th>
        <th>SPELERS</th>
        <th>DELER</th>
        {{#each this.playernames as |player|}}
            <th colspan="2">{{player}}</th>
        {{/each}}
      </tr>
      {{#each this.games as |game|}}
        <TableRow
          @dealer={{game.dealer}}
          @contract={{game.contract}}
          @activePlayers={{game.activePlayers}}
          @pointsEarned={{game.pointsEarned}}
          @pointsTotal={{game.pointsTotal}}
        />
      {{/each}}
      {{#unless @readOnly}}
        <NewRow @onCreate={{this.addNewRow}} />
      {{/unless}}
      
    {{else}}
        <tr>
        <th>Geef spelers in:</th>
        <th colspan="2"><Input @value={{(get this.playernames 0)}} /></th>
        <th colspan="2"><Input @value={{(get this.playernames 1)}} /></th>
        <th colspan="2"><Input @value={{(get this.playernames 2)}} /></th>
        <th colspan="2"><Input @value={{(get this.playernames 3)}} /></th>
        <th><button type="button" {{on "click" this.submitPlayers}}>Submit players</button></th>
        </tr>

    {{/if}}
</table>