<table border="1">
    {{#if this.submittedPlayers}}
    
      <tr>
        <th>SPEL</th>
        <th>SPELERS</th>
        {{#each this.players as |player|}}
            <th colspan="2">{{player}}</th>
        {{/each}}
      </tr>
      {{#each this.games as |game|}}
        <TableRow
          @contract={{game.contract}}
          @gamePlayers={{game.gamePlayers}}
          @pointsEarned={{game.pointsEarned}}
          @pointsTotal={{game.pointsTotal}}
        />
      {{/each}}
      <NewRow @onCreate={{this.addNewRow}} />

    {{else}}
    
        <tr>
        <th>SPEL</th>
        <th>SPELERS</th>
        <th colspan="2"><Input @value={{(get this.players 0)}} /></th>
        <th colspan="2"><Input @value={{(get this.players 1)}} /></th>
        <th colspan="2"><Input @value={{(get this.players 2)}} /></th>
        <th colspan="2"><Input @value={{(get this.players 3)}} /></th>
        <th><button type="button" {{on "click" this.submitPlayers}}>Submit players</button></th>
        </tr>

    {{/if}}
</table>