<tr>
    <td>{{@contract}}</td>
    <td>
        {{#each @activePlayers as |player|}}
            {{player}};
        {{/each}}
    </td>
    <td>{{@dealer}}</td>
    {{#each @pointsEarned as |_ idx|}}
        <td>{{get @pointsEarned idx}}</td><td>{{get @pointsTotal idx}}</td>
    {{/each}}
</tr>